
/*  DataTable Pagination  */



.ui-autocomplete-loading {
    background: white url('/images/web/ui-anim_basic_16x16.gif') right center no-repeat;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button .page-link:hover {
    color: white !important;
    border: 1px solid #9d2449 !important;
    background-color: #9d2449 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active .page-link {
    color: white !important;
    border: 1px solid #9d2449 !important;
    background-color: #9d2449 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled .page-link {
    color: lightslategray !important;
    background-color: #fafcfe !important;
    border-color: #d2e6f6 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button .page-link {
    color: #9d2449;
    background-color: #fafcfe;
    border-color: #d2e6f6;
    border-radius: 0;
    height: 100%;
}

/*  Bootstrap Pagination  */

.paginate_button.disabled, .paginate_button.disabled:hover, .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.page-item.active .page-link{
    border: 1px solid #ffc075 !important;
    color: #9b5500;
    background-color: #ffecd3;
    border-color: #ffc075;
}

.page-link {
    color: #9e742b;
    background-color: #fafcfe;
    border-color: #d2e6f6;
    border-radius: 0;
    height: 100%;
}
.page-link:hover {
        color: white !important;
        border: 1px solid #d69422 !important;
        background-color: #9e742b !important;
}
